<%- include('../partials/head') %> 
<!-- Begin page content -->
<main class="flex-shrink-0">
<div class="container">
  <h1 class="mt-5">Detalle de auto</h1>

  <h2><%= auto.marca %> - <%= auto.modelo %> </h1>
  <img src="<%= auto.foto %> ">
  
</div>
</main>
<%- include('../partials/footer') %> 

