<%- include('../partials/head') %> 
<!-- Begin page content -->
<main class="flex-shrink-0">
<div class="container">
  <h1 class="mt-5">Listado de autos</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Patente</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Color</th>
      </tr>
    </thead>
    <tbody>
      <% for( let i = 0; i < autos.length; i++ ) { %>
        <tr>
          <th scope="row"><a href="/autos/patente/<%= autos[i].patente %>"><%= autos[i].patente %></a></th>
          <td><%= autos[i].marca %></td>
          <td><%= autos[i].modelo %></td>
          <td style="color: <%= autos[i].color %>"><%= autos[i].color %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
</main>
<%- include('../partials/footer') %> 

