<%- include('../partials/head') %> 
<!-- Begin page content -->
<main class="flex-shrink-0">
<div class="container">
  <h1><%= user.username %></h1>
  <hr>
  <div class="row">
      <% posts.forEach(post => { %>
        <div class="col-3">
          <div class="card mb-3">
            <img src="<%= post.image %>" class="card-img-top" alt="...">
            <div class="card-body">
              <p><a href="/users/detalle/<%= user.id %>"><%= user.username %></a></p>
              <p><%= post.contenido %></p>
              <a href="/posts/<%= post.id %>" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      <% }) %>
  </div>
  
</div>
</main>
<%- include('../partials/footer') %> 

