<%- include('../partials/head') %> 
<!-- Begin page content -->
<main class="flex-shrink-0">
<div class="container">
  <h1 class="mt-5">Detalle de post</h1>

  <div class="card mb-3" style="max-width: 1024px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="<%= post.imagen %>" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p><%= post.user.firstName %></p>
          <p><%= post.createdAt %></p>
          <p><%= post.contenido %></p>
        </div>
      </div>
    </div>
  </div>
  
</div>
</main>
<%- include('../partials/footer') %> 
